<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
  </head>
  <body>

<%-include("header")%>

<div class="container">

  <div class="row mt-5 bg-light d-flex">

    <div class="col-4 ">
      <img class="w-100  " style="width:40rem" src="<%=hayvanlar[id].resimlinki%>" alt="">
    </div>

    <div class="col-8 ">
        <h1 class=""><%=hayvanlar[id].adi%></h1>
        <p><h6 class="d-inline-block">Türü:</h6>  <%=hayvanlar[id].turu%></p>
        <p><h6 class="d-inline-block">Anavatani:</h6>  <%=hayvanlar[id].anavatani%></p>
        <p><h6 class="d-inline-block">Aciklama:</h6>  <%=hayvanlar[id].aciklama%></p>
      


    </div>

  </div>




</div>




  </body>
</html>
