<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.js" charset="utf-8"></script>


</head>

<body style="background-color: #e8eae6" class="">

  <%-include("header")-%>

  <div class="container d-flex flex-wrap justify-content-center">

<% for(var i=0;i<turler.length;i++) { %>

</hayvanlar.length;i++)>

  <div class="card mt-3 ml-1" style="width: 18rem;">
    <div class="d-flex justify-content-center">
    <img style="width:15rem; height:10rem" src="" class="card-img-top" alt="...">
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= turler[i].adi %></h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Türü: <%=turler[i].turu%></li>
      <li class="list-group-item">Anavatani: <%=turler[i].anavatani%></li>
      <li class="list-group-item">Aciklama: <%=turler[i].aciklama%></li>
    </ul>
    <div class="card-body d-flex justify-content-center">
      <a href="/" class="card-link">Anasayfa</a>

    </div>
  </div>

  <% }  %>





  </div>



</body>

</html>
