<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.js" charset="utf-8"></script>


</head>

<body style="background-color: #e8eae6" class="">

  <%-include("header")-%>

  <div class="container d-flex flex-wrap justify-content-center">

<% for(var i=0;i<hayvanlar.length;i++) { %>
</hayvanlar.length;i++)>
  <div class="card mt-3 ml-1" style="width: 18rem;">
    <a href="/hayvan/<%=hayvanlar[i].adi%>/<%=hayvanlar[i].id%>">
      <div class="d-flex justify-content-center">
      <img style="width:15rem; height:10rem" src="<%= hayvanlar[i].resimlinki %>" class="card-img-top" alt="...">
    </div>
    </a>
    <div class="card-body">
      <h5 class="card-title"><%= hayvanlar[i].adi %></h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Türü: <%=hayvanlar[i].turu%></li>
      <li class="list-group-item">Anavatani: <%=hayvanlar[i].anavatani%></li>
      <li class="list-group-item">Aciklama: <%=hayvanlar[i].aciklama%></li>
    </ul>
    <div class="card-body d-flex justify-content-center">
      <a href="/" class="card-link">Anasayfa</a>
    </div>
  </div>
  <% }  %>





  </div>



</body>

</html>
