<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ogrenci Portali</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  </head>
  <body class="mesajkutusubody">

<div class="container mt-5 bg-light">

  <div class="row">

    <div class="col-3 d-flex justify-content-center align-items-center">

      <img style="width:7rem"  src="resimler/logo.jpg" alt="">

    </div>

    <div class="col-6  d-flex justify-content-center">

      <div class="">
        <h4 >CUMHURIYET ILKOKULU ÖGRETMEN SAYFASI</h4>
        <br><br>

        <div class="d-flex justify-content-center"">
          <h4 ></h4>

        </div>

      </div>

    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">

      <img style="width:7rem" src="<%=ogretmen[0].resimlinki%>" alt="">

    </div>

  </div>

  <hr>

  <div class="row ">



    <div class="col-6 ">

<div class="d-flex justify-content-center ">
  <h5 class="mb-3">Ögretmen Bilgileri</h5>

</div>



<h6>TC Kimlik Numarasi :<%=ogretmen[0].tcno%></span> </h6>
<hr>
<h6>Adi ve Soyadi      :<%=ogretmen[0].adsoyad%></h6>
<hr>
<h6>Brans            :<%=ogretmen[0].brans%></h6>
<hr>
<h6>Adresi            :<%=ogretmen[0].adres%></h6>



    </div>

    <div class="col-6 d-flex justify-content-center sutun">

<form class="" enctype="multipart/form-data" action="/sinif" method="post">
  <div class="">
<form class="" enctype="multipart/form-data" action="/ogrencinotsayfasi" method="post">
    <button class="btn btn-primary ml-3 " type="submit">Not Girisi<input class="d-none" type="text" name="ogretmen" value="<%=yetkiliOgretmen%>"></button>
</form>




    <button type="button" class="btn btn-primary">Sinif Listesi</button>
    <button type="button" class="btn btn-secondary">Ders Programi</button>
  </div>

</form>

<form class="d-flex" enctype="multipart/form-data" action="/ogretmenmesaj" method="post">

    <a href="/ogretmenmesaj"><button type="submit" class="btn btn-secondary ml-1">Mesajlar  <span class="badge rounded-pill bg-warning text-dark"><%=ogretmenmesajsayisi%></span></button></a>

    <input class="form-control mb-2 d-none" type="text" name="mesajalanogretmenid" value="<%=ogretmen[0].id%>" placeholder="<%=ogretmen[0].id%>">
</form>




      <div class="kirmizi">
        <a href="/"><button  type="button" class="btn btn-danger">Sistemden Cikis</button></a>
      </div>








    </div>

  </div>


</div>




</div>


  </body>
</html>
