<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ogrenci Portali</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  </head>
  <body >

<div class="container mt-5 bg-light">

  <div class="row">

    <div class="col-3 d-flex justify-content-center align-items-center">

      <img style="width:7rem"  src="resimler/logo.jpg" alt="">

    </div>

    <div class="col-6  d-flex justify-content-center">

      <div class="">
        <h4 >CUMHURIYET ILKOKULU ÖGRENCI SAYFASI</h4>
        <br><br>

        <div class="d-flex justify-content-center"">
          <h4 ><%=ogrenci[0].adsoyad.toUpperCase()%></h4>

        </div>

      </div>

    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">

      <img style="width:7rem" src="<%=ogrenci[0].resimlinki%>" alt="">

    </div>

  </div>

  <hr>

  <div class="row ">



    <div class="col-6 ">

<div class="d-flex justify-content-center ">
  <h5 class="mb-3">Ögrenci Bilgileri</h5>

</div>



<h6>TC Kimlik Numarasi:<%=ogrenci[0].tcno%></h6>
<hr>
<h6>Adi ve Soyadi     :<%=ogrenci[0].adsoyad%></h6>
<hr>
<h6>Ögrenci Numarasi  :<%=ogrenci[0].ogrencino%></h6>
<hr>
<h6>Adresi            :<%=ogrenci[0].adres%></h6>
<hr>

kisiid, turkce, matematik, fen, sosyal, yabancidil, dinkulturu, gorselsanatlar, muzik

    </div>

    <div class="col-6">

<div class="d-flex justify-content-center">
  <h5>Ders Notlari</h5>
</div>

<div class="pl-5 mb-5">
  <h6>Türkce:</h6>
  <h6>Matematik:</h6>
  <h6>Fen Bilimleri:</h6>
  <h6>Sosyal Bilgiler:</h6>
  <h6>Yabanci Dil:</h6>
  <h6>Din Kültürü ve Ahlak Bilgisi:</h6>
  <h6>Görsel Sanatlar:</h6>
  <h6>Müzik:</h6>
  <hr>
</div>
<div class="kirmizi mt-5">
  <a href="/"><button  type="button" class="btn btn-danger">Sistemden Cikis</button></a>

</div>


    </div>


  </div>



</div>




</div>



  </body>
</html>
