<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>


        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.js" charset="utf-8"></script>


  </head>
  <body>





    <%-include("header")-%>
    <div class="container">

    <div class="row mt-5">


      <div class="col-6">

        <img style="height:20rem" src="<%=resimlinki%>" alt="">

      </div>

      <div class="col-6 ">

        <h1><%=ad%></h1>
        <h3><%=tur%></h3>
        <h3><%=anavatani%></h3>
        <h3>Evcil mi: <%=evcilmi%></h3>
        <h3>Beslenme: <%=beslenme%></h3>
        <p><%=aciklama%></p>

      </div>

    </div>

    </div>

  </body>
</html>
